
<%if @errors%>
  <%= erb :_errors, locals: {errors: @errors} %>
<%end%>

<form action="/questions" method="POST">
  <label>Title:
  <input type="text" placeholder="Title" name="question[title]">
  </label>
  <label>Content:
  <textarea name="question[content]" rows="4" cols="50">Type your question here ..
  </textarea>
  </label>
  <input type="submit" value="Post your question">

</form>
