<div class="col-sm-12">
    <blockquote class="blockquote bq-danger">
    <p class="bq-title">Comments</p>
      <ul>
        <%post.comments.each do |comment|%>
          <li>
              <h5 class="post-content"><%=comment.content%></h5>

              <span class="btn btn-danger-outline waves-effect" style="margin-bottom:20px;"><a href="/users/<%=comment.commenter.id%>"><%=comment.commenter.name%></a> posted <%=comment.age%></span>
            <%end%>
          </li>
      </ul>
    </blockquote>
</div>
