/* YOUR CUSTOM STYLES */

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

body {
  padding-top: 65px;
}

.label {
  margin-bottom: 10px;
}

.card-form {
  width: 40%;
}

.hidden { display: none }