<%if @errors%>
  <%= erb :_errors, locals: {errors: @errors} %>
<%end%>

<form name="log_in" action="/login" method="post">
  <input type="text" placeholder="Username" name="name">
  <input type="password" placeholder="Password" name="password">
  <button type="submit">Log In</button>
</form>
