<form name="log_in" action="/users" method="put">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="Password" name="password">
  <button type="submit">Log In</button>
</form>
