<%= erb :_errors, :layout => false, locals: {errors: @errors} if @errors %>

<form action='/users' method='post' id="register-form">
  <input placeholder="Name" type="text" name="user[name]">
  <input placeholder="Email" type="text" name="user[email]">
  <input placeholder="Password" type="password" name="user[password]">
  <button type="submit" class="btn btn-yellow">Register</button>
</form>
