<%= erb :_errors, locals: {errors: @user.errors} %>

<form action='/users' method='post'>
  <input placeholder="Name" type="text" name="user[name]">
  <input placeholder="Email" type="text" name="user[email]">
  <input placeholder="Password" type="password" name="user[password]">
  <input type="submit" value="Register">
</form>
