
<h2><%=@current_question.title%></h2>
<form action"/answers/new/<%=@current_question.id%> method="post">
	
	<label for="body-textarea" class="block mar-b-1">Answer:</label>
  <textarea name="content" tabindex="2" ></textarea>
   <input type="submit" value="Answer" >
	
</form>